# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/
.history/

# Build output
dist/
build/
out/

# Office Add-in
*.exceladdin

# Miscellaneous
.DS_Store
Thumbs.db